### Sytem files ###
*.log
.DS_Store
sitemap.xml
sitemap.xml.gz

# WordPress Core files and folders
/license.txt
/readme.html
/wordpress
/wp-activate.php
/wp-admin/
/wp-admin
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-includes/
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/index.php

# Pagely files
/pagely-cron.php
wp-content/mu-plugins/pagely-app-stats/
wp-content/mu-plugins/pagely-assets/
wp-content/mu-plugins/pagely-cache-control/
wp-content/mu-plugins/pagely-cache-purge/
wp-content/mu-plugins/pagely-cdn/
wp-content/mu-plugins/pagely-cli/
wp-content/mu-plugins/pagely-management-v2.php
wp-content/mu-plugins/pagely-plugin-upgrade-hooks/
wp-content/mu-plugins/pagely-security-patches/
wp-content/mu-plugins/pagely-site-health/
wp-content/mu-plugins/pagely-status/
wp-content/mu-plugins/pagely-util/
wp-content/mu-plugins/pagely-wp-cli-mail-patch/
/wp-content/mu-plugins/

# ACF Files

# Some Cache folders and files
cache/
/wp-content/object-cache.php

# Root files
/assets/

# We are having only wp-content/* items at the moment, so this makes more sense
wp-content/uploads/
wp-content/upgrade/


### Setup files ###
/.well-known/
/wp-config-hosting.php
/db-config.php
# wp-content/object-cache.php

### Themes ###
# List the themes here #

### Plugins ###
/wp-content/db.php

### Languages Files ###
/wp-content/languages/

### Backups Files ###
# List the backup files here

### CSS/Sass Files ###
.sass-cache
style.css.map


### NPM Files ###
node_modules

# IDE Files
.buildpath
.settings/
nbproject/
/nbproject/private/
.idea/
.vscode/
